/vendor/*
/tmp/*
/logs/*
.github
.idea/workspace.xml
**/.idea
.htaccess
composer.lock
/webroot/note_app/bower_components/*
/webroot/note_app/bower_component/*
/webroot/note_app/node_modules/*
/npm-debug.log
/webroot/note_app/.babelrc
/webroot/note_app/.bowerrc
/webroot/note_app/.editorconfig
/webroot/note_app/.eslintrc
/webroot/note_app/.gitattributes
/webroot/note_app/.gitignore
/webroot/note_app/.jshintrc
/webroot/note_app/.yo-rc.json
/webroot/note_app/e2e/.eslintrc
/webroot/note_app/gulp/.eslintrc

